html {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(60, 60, 60);
  background: rgb(245, 245, 245);
}

nav {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  background: rgb(60, 60, 60);
}

nav a {
  text-decoration: none;
  font-size: 3em;
  color: rgb(245, 245, 245);
}

.project-list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}

.project-list h1 {
  text-align: center;
  font-size: 3em;
}

.project-item {
  background: rgb(240, 240, 240);
  width: 50%;
  margin: 10px auto;
  padding: 20px;
  border-top: 10px solid dodgerblue;
  height: 300px;
  overflow-y: hidden;
}

.project-item p {
  font-size: 1.5em;
  margin: 0 0 10px;
}

.project-item p em {
  font-size: 2.5em;
  font-weight: bold;
  color: rgb(24, 24, 24);
}

.actions-list {
  background: rgb(240, 240, 240);
  width: 50%;
  margin: 10px auto;
  padding: 20px;
  border-top: 10px solid dodgerblue;
  border-radius: 15px;
}

.actions-list h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.actions-list a {
  text-decoration: none;
  color: rgb(60, 60, 60);
  margin-bottom: 10px;
}

.action-item p {
  font-size: 0.5em;
  margin: 20px 0;
}

.action-item {
  font-size: 3em;
  border-top: 5px solid dodgerblue;
}

.action-item:first-of-type {
  font-size: 3em;
  border-top: none;
}
